<div class="d-flex justify-content-between">
  <a class="display-4 text-decoration-none text-dark" href="/course/list/">All Courses</a>
  <form class="form-inline my-2 my-lg-0" action="/course/list/" id="course-form" method="GET">
    <input class="form-control mr-sm-2" id="course-KeyWord" name="KeyWord"type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<div>
  <%= if (search) { %>
    <span class="badge badge-primary"><%= count %> Results</span>
  <% }  %>
</div>

<table id="courses" class="table table-hover mt-4">
    <thead>
      <tr>
        <th data-column="name" scope="col">Name
            <%= if (params["order"] != "1") { %>

                <%= linkTo(courseListPath({order:"1", page:params["page"], perPage:params["perPage"]}), {class: " text-decoration-none"}) { %>
                  <i class="fas fa-chevron-up"></i>
                  <% } %>

            <% } %>

            <%= if (params["order"] != "2") { %>

                <%= linkTo(courseListPath({order: "2", page: params["page"], perPage: params["perPage"]}), {}) { %>
                  <i class="fas fa-chevron-down"></i>
                  <% } %>

            <% } %>
            </th>
        <th data-column="code" scope="col">Code
          <%= if (params["order"] != "3") { %>
                <%= linkTo(courseListPath({order:"3", page:params["page"], perPage:params["perPage"]}), {class: "text-decoration-none"}) { %>
                  <i class="fas fa-chevron-up"></i>
                  <% } %>
          <% } %>

          <%= if (params["order"] != "4") { %>
                <%= linkTo(courseListPath({order: "4", page: params["page"], perPage: params["perPage"]}), {}) { %>
                  <i class="fas fa-chevron-down"></i>
                  <% } %>
          <% } %>
        </th>
        <th data-column="credits" scope="col">Credits</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= for(course) in courses { %>
        <tr>
          <td><%= course.Name %></td>
          <td><%= course.Code %></td>
          <td><%= course.Creditos %></td>
          <td><a href="/course/delete/<%= course.ID %>" data-method="DELETE" data-confirm= "Are you sure?" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
      <% }  %>
    </tbody>
  </table>
  <div class="d-flex justify-content-start">
      <div class="dropdown">
        <button class="btn btn-light mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Show : <%= perPage %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= linkTo(courseListPath({order: params["order"], perPage: "5"}), {class: "dropdown-item", body: "5"}) %>
          <%= linkTo(courseListPath({order: params["order"], perPage: "10"}), {class: "dropdown-item", body: "10"}) %>
          <%= linkTo(courseListPath({order: params["order"], perPage: "15"}), {class: "dropdown-item", body: "15"}) %>
        </div>
      </div>
      <%= paginator(paginatorC) %>
  </div>
