
<table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">credits</th>
      </tr>
    </thead>
    <tbody>
      <%= for(course) in courses { %>
        <tr>
          <td><%= course.Nombre %></td>
          <td><%= course.Codigo %></td>
          <td><%= course.Creditos %></td>
        </tr>
      <% }  %>
    </tbody>
  </table>
  <div class="d-flex justify-content-start">
    <%= paginator(paginatorC) %>
  </div>