<table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">University degree</th>
        <th scope="col">CC</th>
      </tr>
    </thead>
    <tbody>
      <%= for(teacher) in teachers { %>
        <tr>
          <td><%= teacher.Nombre %></td>
          <td><%= teacher.Apellido %></td>
          <td><%= teacher.Titulo %></td>
          <td><%= teacher.Cedula %></td>
        </tr>
      <% }  %>
    </tbody>
  </table>
  <div class="d-flex justify-content-start">
    <%= paginator(paginatorT) %>
  </div>