
<div class="container w-md-100">
	<div class="py-4 mb-2">
		<h3 class="d-inline-block">New Teacher</h3>
   	</div>

  	<%= formFor(teacher, {action: teacherCreatePath(), method: "POST"}) { %>
        <div class="mb-3 grid-form">
            <%= f.InputTag("FirstName") %>
            <%= f.InputTag("LastName") %>
        </div>
        <div>
            <%= f.InputTag("IdentificationCard", {label: "enter your document number", placeholder:"#########"}) %>
        </div>
        <div class="mb-3 grid-form">
            <%= f.SelectTag("FacultyID", {label:"Select a Faculty", options: FacultiesList }) %>
            <%= f.SelectTag("JobTitle", {label:"Select your University degree", options: ["Engineer", "Doctor", "Art Teacher", "Sport Teacher", "lawyer"]}) %>
        </div>
	 	<div class="d-flex justify-content-end">
        	        <%= linkTo(rootPath(), {class: "btn btn-warning mr-3", "data-confirm": "Are you sure?", body: "Cancel"}) %>
    	                <button class="btn btn-success" role="submit">Save</button>
                </div>
  	<% } %>
</div>