<%= partial("partials/navbar.plush.html") %>
<div class="container w-md-100">
	<div class="py-4 mb-2">
		<h3 class="d-inline-block">New Decano</h3>
   	</div>

  	<%= formFor(decano, {action: decanoCreatePath(), method: "POST"}) { %>
	  <%= partial("partials/form.plush.html") %>
	 	<div class="d-flex justify-content-end">
        	<%= linkTo(rootPath(), {class: "btn btn-warning mr-3", "data-confirm": "Are you sure?", body: "Cancel"}) %>
    	<button class="btn btn-success" role="submit">Save</button>
</div>
  	<% } %>
</div>



