<!-- <div class="py-4 mb-2">
	<h3 class="d-inline-block">Decano Details</h3>
	<div class="float-right">
		<%= linkTo(daensPath(), {class: "btn btn-info"}) { %>
		Back to all Decanos
		<% } %>
		<%= linkTo(editDecanoPath({ decano_id: decano.ID }), {class: "btn btn-warning", body: "Edit"}) %>
		<%= linkTo(decanoPath({ decano_id: decano.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
	</div>
</div>

<ul class="list-group mb-2 ">
	<li class="list-group-item pb-1">
		<label class="small d-block">ID</label>
		<p class="d-inline-block"><%= decano.ID %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">CreatedAt</label>
		<p class="d-inline-block"><%= decano.CreatedAt %></p>
	</li>
	<li class="list-group-item pb-1">
		<label class="small d-block">UpdatedAt</label>
		<p class="d-inline-block"><%= decano.UpdatedAt %></p>
	</li>
</ul> -->