
<table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Nº Block</th>
      </tr>
    </thead>
    <tbody>
      <%= for(faculty) in faculties { %>
        <tr>
          <td><%= faculty.Nombre %></td>
          <td><%= faculty.Ubicacion %></td>
          <td><%= faculty.Numero %></td>
        </tr>
      <% }  %>
    </tbody>
  </table>
  <div class="d-flex justify-content-start">
    <%= paginator(paginatorF) %>
  </div>