<nav class="px-3 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownDecanen" role="button" data-toggle="dropdown" aria-expanded="false">
            Decanen
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdownDecanen">
            <li><a class="dropdown-item" href="/dean/new">New Decaan</a></li>
            <li><a class="dropdown-item" href="/dean/list">All Decanen</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownFaculties" role="button" data-toggle="dropdown" aria-expanded="false">
            Faculties
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdownFaculties">
            <li><a class="dropdown-item" href="/faculty/new">New Faculties</a></li>
            <li><a class="dropdown-item" href="/faculty/list">All Faculties</a></li>
            <li><a class="dropdown-item" href="/faculty/listDF">All DF</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownTeacher" role="button" data-toggle="dropdown" aria-expanded="false">
            Teachers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdownTeacher">
            <li><a class="dropdown-item" href="/teacher/new">New Teacher</a></li>
            <li><a class="dropdown-item" href="/teacher/list">All Teachers</a></li>
            <li><a class="dropdown-item" href="/teacher/listTF">All Teacher By Faculty</a></li>
            <li><a class="dropdown-item" href="/teacher/listTC">All Teacher, Faculty, Course</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownTeacher" role="button" data-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdownTeacher">
            <li><a class="dropdown-item" href="/course/new">New Course</a></li>
            <li><a class="dropdown-item" href="/course/list">All Courses</a></li>
          </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Students </a>
          </li>
      </ul>
      <span class="navbar-text">
        Training 2021
      </span>
    </div>
  </nav>